// Example Stylus file

body, html
  height 100%

body
  font normal 1em sans-serif

/*
  DS-Digital Font comes from: 
    http://www.dafont.com/ds-digital.font     
*/
    
@font-face
  font-family DigitsBoldItalic
  src url(/fonts/DS-DIGIT.TTF)

.larged-digits
  font-family DigitsBoldItalic
  font-size 80pt
  text-align center

.digits
  font-family DigitsBoldItalic
  font-size 16pt
  text-align center
  
.ui-slider-handle
  color #777777
  font-size 10px
  text-shadow 0 1px 0 #FFFFFF
  text-decoration none

